parameters:
  paths:
    - src
  level: 10
  ignoreErrors:
    - '#Implementing PHPStan\\Type\\CompoundType is not covered by backward compatibility promise. The interface might change in a minor PHPStan version.#'
    - '#Using PHPStan\\Type\\Traits\\LateResolvableTypeTrait is not covered by backward compatibility promise. The trait might change in a minor PHPStan version.#'
includes:
  - extension.neon